In [63]:
#0
#datapreproc - allfiles
#AAI-540 Group 3 FP

In [64]:
import pandas as pd
import numpy as np

In [65]:
aimodelpoll = pd.read_csv('aimodelpoll.csv')
lifearch = pd.read_csv('lifearchitectmodels.csv')
llmach = pd.read_csv('llmachievements.csv')
llmprice = pd.read_csv('llmpricingdata.csv')
llmleader = pd.read_csv('openllmleader.csv')
modelview = pd.read_csv('overviewaimodels.csv')

In [66]:
aimodelpoll.head(5)

,Question,Response,Overall,Age: 18-34,Age: 35-49,Age: 50-64,Age: 65+,Gender: Women,Gender: Men,College/No College: College,...,Race: Native American,Race: Asian,Race: Hispanic,Race: Black,Race: White,Occupation Category: Office Job,Occupation Category: Customer Facing Service Job,"Occupation Category: Manual, Not Customer Facing",Occupation Category: Education/Medicine,Occupation Category: Building Trades
0,AI Services Used,ChatGPT,0.003,0.005,0.004,0.003,0.002,0.003,0.004,0.004,...,0.003,0.004,0.004,0.004,0.003,0.004,0.003,0.003,0.004,0.003
1,AI Services Used,Claude,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,AI Services Used,Gemini,0.002,0.003,0.003,0.002,0.002,0.002,0.003,0.003,...,0.003,0.003,0.003,0.003,0.002,0.003,0.003,0.003,0.003,0.003
3,AI Services Used,Grok,0.000,0.001,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,AI Services Used,Copilot,0.001,0.001,0.001,0.001,0.001,0.001,0.001,0.002,...,0.001,0.002,0.001,0.001,0.001,0.001,0.001,0.001,0.001,0.001

In [67]:
aimodelpoll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Question                                          39 non-null     object
 1   Response                                          37 non-null     object
 2   Overall                                           39 non-null     float64
 3   Age: 18-34                                        39 non-null     float64
 4   Age: 35-49                                        39 non-null     float64
 5   Age: 50-64                                        39 non-null     float64
 6   Age: 65+                                          39 non-null     float64
 7   Gender: Women                                     39 non-null     float64
 8   Gender: Men                                       39 non-null     float64
 9   College/No College: College                       39 non-null     float64
 10  College/No College: No college                    39 non-null     float64
 11  Income three-way: Lower Income                    39 non-null     float64
 12  Income three-way: Middle Income                   39 non-null     float64
 13  Income three-way: Upper Income                    39 non-null     float64
 14  Generation: Gen Z                                 39 non-null     float64
 15  Generation: Millenial                             39 non-null     float64
 16  Generation: Gen X                                 39 non-null     float64
 17  Generation: Boomer                                39 non-null     float64
 18  Generation: Silent                                39 non-null     float64
 19  Race: Native American                             39 non-null     float64
 20  Race: Asian                                       39 non-null     float64
 21  Race: Hispanic                                    39 non-null     float64
 22  Race: Black                                       39 non-null     float64
 23  Race: White                                       39 non-null     float64
 24  Occupation Category: Office Job                   39 non-null     float64
 25  Occupation Category: Customer Facing Service Job  39 non-null     float64
 26  Occupation Category: Manual, Not Customer Facing  39 non-null     float64
 27  Occupation Category: Education/Medicine           39 non-null     float64
 28  Occupation Category: Building Trades              39 non-null     float64
dtypes: float64(27), object(2)
memory usage: 9.0+ KB

In [68]:
for col in aimodelpoll.columns[2:]:
    aimodelpoll[col] = (
        aimodelpoll[col]
        .astype(str)                           
        .str.replace(r'[\s%,]', '', regex=True) 
        .str.replace(',', '.', regex=False)   
        .replace(['', 'nan', 'NaN', '-'], np.nan)
        .pipe(pd.to_numeric, errors='coerce')
        / 100
    )
aimodelpoll.iloc[:, 2:] = aimodelpoll.iloc[:, 2:].round(3)

In [69]:
aimodelpoll.head(5)

,Question,Response,Overall,Age: 18-34,Age: 35-49,Age: 50-64,Age: 65+,Gender: Women,Gender: Men,College/No College: College,...,Race: Native American,Race: Asian,Race: Hispanic,Race: Black,Race: White,Occupation Category: Office Job,Occupation Category: Customer Facing Service Job,"Occupation Category: Manual, Not Customer Facing",Occupation Category: Education/Medicine,Occupation Category: Building Trades
0,AI Services Used,ChatGPT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AI Services Used,Claude,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AI Services Used,Gemini,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AI Services Used,Grok,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AI Services Used,Copilot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
aimodelpoll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Question                                          39 non-null     object
 1   Response                                          37 non-null     object
 2   Overall                                           39 non-null     float64
 3   Age: 18-34                                        39 non-null     float64
 4   Age: 35-49                                        39 non-null     float64
 5   Age: 50-64                                        39 non-null     float64
 6   Age: 65+                                          39 non-null     float64
 7   Gender: Women                                     39 non-null     float64
 8   Gender: Men                                       39 non-null     float64
 9   College/No College: College                       39 non-null     float64
 10  College/No College: No college                    39 non-null     float64
 11  Income three-way: Lower Income                    39 non-null     float64
 12  Income three-way: Middle Income                   39 non-null     float64
 13  Income three-way: Upper Income                    39 non-null     float64
 14  Generation: Gen Z                                 39 non-null     float64
 15  Generation: Millenial                             39 non-null     float64
 16  Generation: Gen X                                 39 non-null     float64
 17  Generation: Boomer                                39 non-null     float64
 18  Generation: Silent                                39 non-null     float64
 19  Race: Native American                             39 non-null     float64
 20  Race: Asian                                       39 non-null     float64
 21  Race: Hispanic                                    39 non-null     float64
 22  Race: Black                                       39 non-null     float64
 23  Race: White                                       39 non-null     float64
 24  Occupation Category: Office Job                   39 non-null     float64
 25  Occupation Category: Customer Facing Service Job  39 non-null     float64
 26  Occupation Category: Manual, Not Customer Facing  39 non-null     float64
 27  Occupation Category: Education/Medicine           39 non-null     float64
 28  Occupation Category: Building Trades              39 non-null     float64
dtypes: float64(27), object(2)
memory usage: 9.0+ KB

In [71]:
original_file = 'aimodelpoll.csv'
aimodelpoll.to_csv(original_file, index=False)

In [72]:
llmach.head(5)

,Field,Achievement,Result,Human result,Outperforms human avg?,Model,Testing date,Peer-\nreviewed?,Paper/\nlink,Extract
0,Music,97% of people canâ€™t tell the difference betwee...,NaN,NaN,Yes,Multiple,Nov/2025,No,ðŸ”—,"""all participants were asked to listen to thre..."
1,Transcription,Transcribing handwritten historical documents.,99.44,96,Yes,Gemini 3,Nov/2025,No,ðŸ”—,"""The new Gemini modelâ€™s performance on HTR mee..."
2,Finance,Large Language Models pass CFA Level III.,79.1,50,Yes,o4-mini,Jul/2025,Yes,ðŸ”—,"""leading models demonstrate strong capabilitie..."
3,CBRN,LLMs can can accurately guide users through th...,NaN,NaN,Yes,GPT-4o,Jun/2025,Yes,ðŸ”—,"""we find that advanced AI models Llama 3.1 405..."
4,Health reviews,LLMs outperform humans in synthesizing results...,96.7,81.7,Yes,o3-mini-high,Jun/2025,Yes,ðŸ”—,"""We developed otto-SR, an end-to-end agentic w..."

In [73]:
llmach.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Field                   53 non-null     object
 1   Achievement             55 non-null     object
 2   Result                  51 non-null     object
 3   Human result            13 non-null     object
 4   Outperforms human avg?  53 non-null     object
 5   Model                   54 non-null     object
 6   Testing date            53 non-null     object
 7   Peer-
reviewed?         53 non-null     object
 8   Paper/
link             53 non-null     object
 9   Extract                 53 non-null     object
dtypes: object(10)
memory usage: 4.6+ KB

In [74]:
for col in ['Result', 'Human result']:
    llmach[col] = (
        llmach[col]
        .astype(str)                                 
        .str.replace(r'[\s%,]', '', regex=True)      
        .str.replace(',', '.', regex=False)         
        .replace(['', 'nan', 'NaN', '-', '--'], np.nan)
        .pipe(pd.to_numeric, errors='coerce')        
    )
llmach['Result'] = llmach['Result'].round(2)
llmach['Human result'] = llmach['Human result'].round(2)

In [75]:
llmach.head(5)

,Field,Achievement,Result,Human result,Outperforms human avg?,Model,Testing date,Peer-\nreviewed?,Paper/\nlink,Extract
0,Music,97% of people canâ€™t tell the difference betwee...,NaN,NaN,Yes,Multiple,Nov/2025,No,ðŸ”—,"""all participants were asked to listen to thre..."
1,Transcription,Transcribing handwritten historical documents.,99.44,96.0,Yes,Gemini 3,Nov/2025,No,ðŸ”—,"""The new Gemini modelâ€™s performance on HTR mee..."
2,Finance,Large Language Models pass CFA Level III.,79.10,50.0,Yes,o4-mini,Jul/2025,Yes,ðŸ”—,"""leading models demonstrate strong capabilitie..."
3,CBRN,LLMs can can accurately guide users through th...,NaN,NaN,Yes,GPT-4o,Jun/2025,Yes,ðŸ”—,"""we find that advanced AI models Llama 3.1 405..."
4,Health reviews,LLMs outperform humans in synthesizing results...,96.70,81.7,Yes,o3-mini-high,Jun/2025,Yes,ðŸ”—,"""We developed otto-SR, an end-to-end agentic w..."

In [76]:
llmach = llmach.drop(columns=llmach.columns[8])
llmach = llmach.drop(columns=llmach.columns[7])

In [77]:
llmach.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Field                   53 non-null     object
 1   Achievement             55 non-null     object
 2   Result                  24 non-null     float64
 3   Human result            12 non-null     float64
 4   Outperforms human avg?  53 non-null     object
 5   Model                   54 non-null     object
 6   Testing date            53 non-null     object
 7   Extract                 53 non-null     object
dtypes: float64(2), object(6)
memory usage: 3.7+ KB

In [53]:
original_file = 'llmachievements.csv'
llmach.to_csv(original_file, index=False)

In [78]:
lifearch.head(5)

,(745) Permalink:,https://lifearchitect.ai/models-table,Unnamed: 2,Unnamed: 3,Timeline view:,https://lifearchitect.ai/timeline,Unnamed: 6,Unnamed: 7,Unnamed: 8,The Memo:,https://lifearchitect.ai/memo,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Model,Lab,Playground,Parameters \n(B),Tokens \ntrained (B),Ratio Tokens:Params\n(Chinchilla scalingâ‰¥20:1),"ALScore \n""ALScore"" is a quick and dirty ratin...",MMLU,MMLU\n-Pro,GPQA,HLE,Training dataset,Announced\nâ–¼,Public?,Paper / Repo,Arch,Tags,Notes,Count (rough)
1,AuroraGPT (ScienceGPT),Argonne National Laboratory,https://lifearchitect.ai/auroragpt/,2000,30000,15:1,25.8,NaN,NaN,NaN,NaN,NaN,TBA,ðŸ”´,NaN,NaN,NaN,Three models targeted in Jul/2024: AuroraGPT-7...,l
2,Avocado,Meta AI,https://www.cnbc.com/2025/12/09/meta-avocado-a...,2000,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TBA,NaN,NaN,NaN,NaN,Due 2026.,q
3,DeepSeek-R2,DeepSeek-AI,https://www.reuters.com/technology/artificial-...,1200,15640,14:1,14.4,NaN,NaN,NaN,NaN,NaN,TBA,ðŸŸ¢,https://docs.google.com/document/d/e/2PACX-1vT...,MoE,"Reasoning, SOTA","Hybrid MoE, 1.2TA78B. 5.2PB corpus=1.3Qa token...",k
4,GPT-6,OpenAI,https://lifearchitect.ai/gpt-6/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TBA,NaN,NaN,NaN,SOTA,Due 2026.,f

In [86]:
lifearch = lifearch.rename(columns={
    lifearch.columns[0]: 'model',
    lifearch.columns[1]: 'lab',
    lifearch.columns[2]: 'playground',
    lifearch.columns[3]: 'parameters_b',
    lifearch.columns[4]: 'tokens_trained_b',
    lifearch.columns[5]: 'ratio_tokens_params',
    lifearch.columns[6]: 'alscore',               # the very long one
    lifearch.columns[7]: 'mmlu',
    lifearch.columns[8]: 'mmlu_pro',
    lifearch.columns[9]: 'gpqa',
    lifearch.columns[10]: 'hle',
    lifearch.columns[11]: 'training_dataset',
    lifearch.columns[12]: 'announced',
    lifearch.columns[13]: 'public',
    lifearch.columns[14]: 'paper_repo',
    lifearch.columns[15]: 'arch',
    lifearch.columns[16]: 'tags',
    lifearch.columns[17]: 'notes',
    lifearch.columns[18]: 'count_rough',
})

In [87]:
lifearch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model                754 non-null    object
 1   lab                  753 non-null    object
 2   playground           634 non-null    object
 3   parameters_b         735 non-null    object
 4   tokens_trained_b     661 non-null    object
 5   ratio_tokens_params  658 non-null    object
 6   alscore              658 non-null    object
 7   mmlu                 249 non-null    object
 8   mmlu_pro             145 non-null    object
 9   gpqa                 192 non-null    object
 10  hle                  53 non-null     object
 11  training_dataset     746 non-null    object
 12  announced            753 non-null    object
 13  public               750 non-null    object
 14  paper_repo           748 non-null    object
 15  arch                 749 non-null    object
 16  tags                 190 non-null    object
 17  notes                698 non-null    object
 18  count_rough          753 non-null    object
dtypes: object(19)
memory usage: 112.1+ KB

In [88]:
columns_to_keep = [
    'model',
    'lab',
    'parameters_b',
    'tokens_trained_b',
    'ratio_tokens_params',
    'alscore',
    'mmlu',
    'mmlu_pro',
    'gpqa',
    'hle',
    'announced',
    'public',
    'arch',
    'tags'
]
df_clean = lifearch[columns_to_keep].copy()
df_clean = df_clean[df_clean['model'].notna() & ~df_clean['model'].str.contains('Permalink|Timeline view|The Memo', na=False)]

In [89]:
original_file = 'lifearchitectmodels.csv'
df_clean.to_csv(original_file, index=False)

In [90]:
llmprice.head()

,provider,developer,model,input_token_1k_usd,output_token_1k_usd,context_size
0,OpenAI,OpenAI,gpt-4,0.030,0.060,8000
1,OpenAI,OpenAI,gpt-4-32k,0.060,0.120,32000
2,OpenAI,OpenAI,gpt-4-1106-preview,0.010,0.030,128000
3,OpenAI,OpenAI,gpt-4-1106-vision-preview,0.010,0.030,128000
4,OpenAI,OpenAI,gpt-3.5-turbo-1106,0.001,0.002,16000

In [91]:
original_file = 'llmpricingdata.csv'
llmprice.to_csv(original_file, index=False)

In [92]:
llmleader.head()

,Model,Type,Class,Backend,Dtype,Optimizations,Throughput (tokens/s),Peak Memory (MB),Score (%)
0,bofenghuang/vigogne-2-7b-instruct,LLaMA,7B,pytorch,float16,BetterTransformer,39.2,14925,58.2
1,bofenghuang/vigogne-2-7b-instruct,LLaMA,7B,pytorch,float16,BetterTransformer,39.2,14925,58.2
2,HuggingFaceH4/starchat-beta,GPT-BigCode,20B,pytorch,float16,NaN,43.9,31745,55.8
3,bofenghuang/vigogne-2-7b-instruct,LLaMA,7B,pytorch,float32,NaN,36.5,27811,58.2
4,NousResearch/Nous-Hermes-Llama2-13b,LLaMA,10B,pytorch,float16,BetterTransformer,30.0,27069,62.6

In [59]:
original_file = 'openllmleader.csv'
llmleader.to_csv(original_file, index=False)

In [60]:
modelview.head()

,Model,Domain,Task,Organization,Authors,Publication date,Reference,Link,Citations,Notability criteria,...,Training compute cost (2023 USD),Utilization notes,Numerical format,Frontier model,Training power draw (W),Training compute estimation method,Hugging Face developer id,Post-training compute (FLOP),Post-training compute notes,Hardware utilization (HFU)
0,Solar Open 100B\n,Language,"Language modeling/generation,Chat",Upstage,Upstage AI\n,2025-12-31,Upstage's flagship 102B-parameter large langua...,https://huggingface.co/upstage/Solar-Open-100B,NaN,Training cost,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,K-EXAONE,Language,"Language modeling/generation,Chat,Question ans...",LG AI Research,"Eunbi Choi, Kibong Choi, Seokhee Hong, Junwon ...",2025-12-31,K-EXAONE Technical Report,https://huggingface.co/LGAI-EXAONE,NaN,Training cost,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VAETKI\n,Language,Language modeling/generation,NC AI,NaN,2025-12-30,NaN,https://huggingface.co/NC-AI-consortium-VAETKI...,NaN,Training cost,...,NaN,NaN,BF16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A.X K1,Language,"Code generation,Language modeling/generation,T...",SK Telecom,NaN,2025-12-30,A.X K1,https://huggingface.co/skt,NaN,Training cost,...,9642947.0,NaN,BF16,NaN,NaN,NaN,NaN,NaN,NaN,0.927
4,HyperCLOVA X SEED 32B Think,"Multimodal,Language,Vision","Language modeling/generation,(Visual) Question...",NAVER,NaN,2025-12-29,NaN,https://huggingface.co/naver-hyperclovax/Hyper...,NaN,Significant use,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
modelview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3239 entries, 0 to 3238
Data columns (total 56 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Model                               3239 non-null   object
 1   Domain                              3155 non-null   object
 2   Task                                3121 non-null   object
 3   Organization                        3159 non-null   object
 4   Authors                             2466 non-null   object
 5   Publication date                    3221 non-null   object
 6   Reference                           3078 non-null   object
 7   Link                                3204 non-null   object
 8   Citations                           1270 non-null   float64
 9   Notability criteria                 927 non-null    object
 10  Notability criteria notes           789 non-null    object
 11  Parameters                          2088 non-null   float64
 12  Parameters notes                    1727 non-null   object
 13  Training compute (FLOP)             1376 non-null   float64
 14  Training compute notes              1610 non-null   object
 15  Training dataset size (gradients)   1322 non-null   object
 16  Dataset size notes                  1633 non-null   object
 17  Training time (hours)               546 non-null    float64
 18  Training time notes                 598 non-null    object
 19  Training hardware                   1162 non-null   object
 20  Approach                            301 non-null    object
 21  Confidence                          3239 non-null   object
 22  Abstract                            2836 non-null   object
 23  Epochs                              790 non-null    float64
 24  WikiText and Penn Treebank data     350 non-null    object
 25  Model accessibility                 2490 non-null   object
 26  Country (of organization)           3151 non-null   object
 27  Base model                          673 non-null    object
 28  Finetune compute (FLOP)             259 non-null    float64
 29  Finetune compute notes              302 non-null    object
 30  Hardware quantity                   835 non-null    float64
 31  Hardware utilization (MFU)          60 non-null     float64
 32  Last modified                       3239 non-null   object
 33  Training cloud compute vendor       52 non-null     object
 34  Training data center                65 non-null     object
 35  Archived links                      22 non-null     object
 36  Batch size                          250 non-null    float64
 37  Batch size notes                    196 non-null    object
 38  Organization categorization         3139 non-null   object
 39  Foundation model                    76 non-null     object
 40  Training compute lower bound        27 non-null     float64
 41  Training compute upper bound        40 non-null     float64
 42  Training chip-hours                 214 non-null    float64
 43  Training code accessibility         2298 non-null   object
 44  Accessibility notes                 1663 non-null   object
 45  Possibly over 1e23 FLOP             501 non-null    object
 46  Training compute cost (2023 USD)    223 non-null    float64
 47  Utilization notes                   87 non-null     object
 48  Numerical format                    339 non-null    object
 49  Frontier model                      137 non-null    object
 50  Training power draw (W)             763 non-null    float64
 51  Training compute estimation method  1437 non-null   object
 52  Hugging Face developer id           608 non-null    object
 53  Post-training compute (FLOP)        1 non-null      float64
 54  Post-training compute notes         1 non-null      object
 55  Hardware utilization (HFU)          25 non-null     float64
dtypes: float64(16), object(40)
memory usage: 1.4+ MB

In [93]:
keep_columns = [
    'Model',
    'Domain',
    'Task',
    'Organization',
    'Publication date',
    'Link',
    'Parameters',
    'Training compute (FLOP)',
    'Training time (hours)',
    'Training hardware',
    'Model accessibility',
    'Country (of organization)',
    'Organization categorization',
    'Training code accessibility',
    'Hugging Face developer id'
]

rename_map = {
    'Model': 'model',
    'Domain': 'domain',
    'Task': 'tasks',
    'Organization': 'organization',
    'Publication date': 'release_date',
    'Link': 'reference_url',
    'Parameters': 'parameters',
    'Training compute (FLOP)': 'training_flop',
    'Training time (hours)': 'training_hours',
    'Training hardware': 'training_hardware',
    'Model accessibility': 'accessibility',
    'Country (of organization)': 'country',
    'Organization categorization': 'org_type',
    'Training code accessibility': 'code_available',
    'Hugging Face developer id': 'hf_repo_id'
}

df_mops = modelview[keep_columns].rename(columns=rename_map).copy()
df_mops['release_date'] = pd.to_datetime(df_mops['release_date'], errors='coerce')
df_mops = df_mops.sort_values('release_date', ascending=False)
print(df_mops.shape)
print(df_mops.head())

(3239, 15)
                         model                      domain  \
0            Solar Open 100B\n                    Language
1                     K-EXAONE                    Language
2                     VAETKI\n                    Language
3                       A.X K1                    Language
4  HyperCLOVA X SEED 32B Think  Multimodal,Language,Vision

                                               tasks    organization  \
0                  Language modeling/generation,Chat         Upstage
1  Language modeling/generation,Chat,Question ans...  LG AI Research
2                       Language modeling/generation           NC AI
3  Code generation,Language modeling/generation,T...      SK Telecom
4  Language modeling/generation,(Visual) Question...           NAVER

  release_date                                      reference_url  \
0   2025-12-31     https://huggingface.co/upstage/Solar-Open-100B
1   2025-12-31                 https://huggingface.co/LGAI-EXAONE
2   2025-12-30  https://huggingface.co/NC-AI-consortium-VAETKI...
3   2025-12-30                         https://huggingface.co/skt
4   2025-12-29  https://huggingface.co/naver-hyperclovax/Hyper...

     parameters  training_flop  training_hours training_hardware  \
0  1.020000e+11            NaN          1572.0               NaN
1  2.360000e+11   1.520000e+24          3240.0  NVIDIA B200 GPUs
2  1.000000e+11            NaN          3238.0   Nvidia H100 80G
3  5.190000e+11            NaN          1536.0       NVIDIA H200
4  3.200000e+10            NaN             NaN               NaN

                 accessibility              country  org_type code_available  \
0                   API access  Korea (Republic of)  Industry            NaN
1                   API access  Korea (Republic of)  Industry     Unreleased
2  Open weights (unrestricted)  Korea (Republic of)  Industry            NaN
3                          NaN  Korea (Republic of)  Industry            NaN
4                          NaN  Korea (Republic of)  Industry            NaN

  hf_repo_id
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [94]:
original_file = 'overviewmodels.csv'
df_mops.to_csv(original_file, index=False)