In [55]:
#0
#datapreproc - allfiles
#AAI-540 Group 3 FP

In [56]:
import pandas as pd
import numpy as np

In [57]:
aimodelpoll = pd.read_csv('aimodelpoll.csv')
lifearch = pd.read_csv('lifearchitectmodels.csv')
llmach = pd.read_csv('llmachievements.csv')
llmprice = pd.read_csv('llmpricingdata.csv')
llmleader = pd.read_csv('openllmleader.csv')
modelview = pd.read_csv('overviewaimodels.csv')

In [58]:
aimodelpoll.head(5)

,Question,Response,Overall,Age: 18-34,Age: 35-49,Age: 50-64,Age: 65+,Gender: Women,Gender: Men,College/No College: College,...,Race: Native American,Race: Asian,Race: Hispanic,Race: Black,Race: White,Occupation Category: Office Job,Occupation Category: Customer Facing Service Job,"Occupation Category: Manual, Not Customer Facing",Occupation Category: Education/Medicine,Occupation Category: Building Trades
0,AI Services Used,ChatGPT,34.8%,48.8%,40.7%,32.8%,17.1%,34.1%,35.5%,41.4%,...,33.0%,40.2%,37.5%,35.2%,33.7%,39.9%,34.2%,29.9%,36.0%,31.7%
1,AI Services Used,Claude,1.7%,3.1%,1.8%,1.2%,0.6%,1.6%,1.8%,1.7%,...,1.9%,2.2%,2.4%,2.4%,1.4%,2.2%,2.3%,1.9%,2.2%,2.0%
2,AI Services Used,Gemini,24.3%,27.9%,29.9%,23.8%,16.0%,22.5%,26.3%,25.4%,...,25.5%,28.0%,27.6%,30.4%,22.1%,28.6%,27.9%,28.1%,27.6%,28.5%
3,AI Services Used,Grok,3.8%,6.3%,4.3%,2.9%,1.8%,2.8%,4.9%,3.5%,...,3.8%,4.3%,4.7%,3.9%,3.6%,4.3%,4.0%,4.4%,3.8%,4.8%
4,AI Services Used,Copilot,12.2%,11.5%,14.0%,14.5%,9.2%,10.8%,13.7%,16.6%,...,11.2%,15.2%,11.5%,12.9%,11.9%,14.9%,10.2%,10.9%,13.4%,12.1%

In [59]:
aimodelpoll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Question                                          39 non-null     object
 1   Response                                          37 non-null     object
 2   Overall                                           39 non-null     object
 3   Age: 18-34                                        39 non-null     object
 4   Age: 35-49                                        39 non-null     object
 5   Age: 50-64                                        39 non-null     object
 6   Age: 65+                                          39 non-null     object
 7   Gender: Women                                     39 non-null     object
 8   Gender: Men                                       39 non-null     object
 9   College/No College: College                       39 non-null     object
 10  College/No College: No college                    39 non-null     object
 11  Income three-way: Lower Income                    39 non-null     object
 12  Income three-way: Middle Income                   39 non-null     object
 13  Income three-way: Upper Income                    39 non-null     object
 14  Generation: Gen Z                                 39 non-null     object
 15  Generation: Millenial                             39 non-null     object
 16  Generation: Gen X                                 39 non-null     object
 17  Generation: Boomer                                39 non-null     object
 18  Generation: Silent                                39 non-null     object
 19  Race: Native American                             39 non-null     object
 20  Race: Asian                                       39 non-null     object
 21  Race: Hispanic                                    39 non-null     object
 22  Race: Black                                       39 non-null     object
 23  Race: White                                       39 non-null     object
 24  Occupation Category: Office Job                   39 non-null     object
 25  Occupation Category: Customer Facing Service Job  39 non-null     object
 26  Occupation Category: Manual, Not Customer Facing  39 non-null     object
 27  Occupation Category: Education/Medicine           39 non-null     object
 28  Occupation Category: Building Trades              39 non-null     object
dtypes: object(29)
memory usage: 9.0+ KB

In [60]:
for col in aimodelpoll.columns[2:]:
    aimodelpoll[col] = (
        aimodelpoll[col]
        .astype(str)                           
        .str.replace(r'[\s%,]', '', regex=True) 
        .str.replace(',', '.', regex=False)   
        .replace(['', 'nan', 'NaN', '-'], np.nan)
        .pipe(pd.to_numeric, errors='coerce')
        / 100
    )
aimodelpoll.iloc[:, 2:] = aimodelpoll.iloc[:, 2:].round(3)

In [61]:
aimodelpoll.head(5)

,Question,Response,Overall,Age: 18-34,Age: 35-49,Age: 50-64,Age: 65+,Gender: Women,Gender: Men,College/No College: College,...,Race: Native American,Race: Asian,Race: Hispanic,Race: Black,Race: White,Occupation Category: Office Job,Occupation Category: Customer Facing Service Job,"Occupation Category: Manual, Not Customer Facing",Occupation Category: Education/Medicine,Occupation Category: Building Trades
0,AI Services Used,ChatGPT,0.348,0.488,0.407,0.328,0.171,0.341,0.355,0.414,...,0.330,0.402,0.375,0.352,0.337,0.399,0.342,0.299,0.360,0.317
1,AI Services Used,Claude,0.017,0.031,0.018,0.012,0.006,0.016,0.018,0.017,...,0.019,0.022,0.024,0.024,0.014,0.022,0.023,0.019,0.022,0.020
2,AI Services Used,Gemini,0.243,0.279,0.299,0.238,0.160,0.225,0.263,0.254,...,0.255,0.280,0.276,0.304,0.221,0.286,0.279,0.281,0.276,0.285
3,AI Services Used,Grok,0.038,0.063,0.043,0.029,0.018,0.028,0.049,0.035,...,0.038,0.043,0.047,0.039,0.036,0.043,0.040,0.044,0.038,0.048
4,AI Services Used,Copilot,0.122,0.115,0.140,0.145,0.092,0.108,0.137,0.166,...,0.112,0.152,0.115,0.129,0.119,0.149,0.102,0.109,0.134,0.121

In [62]:
aimodelpoll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Question                                          39 non-null     object
 1   Response                                          37 non-null     object
 2   Overall                                           39 non-null     float64
 3   Age: 18-34                                        39 non-null     float64
 4   Age: 35-49                                        39 non-null     float64
 5   Age: 50-64                                        39 non-null     float64
 6   Age: 65+                                          39 non-null     float64
 7   Gender: Women                                     39 non-null     float64
 8   Gender: Men                                       39 non-null     float64
 9   College/No College: College                       39 non-null     float64
 10  College/No College: No college                    39 non-null     float64
 11  Income three-way: Lower Income                    39 non-null     float64
 12  Income three-way: Middle Income                   39 non-null     float64
 13  Income three-way: Upper Income                    39 non-null     float64
 14  Generation: Gen Z                                 39 non-null     float64
 15  Generation: Millenial                             39 non-null     float64
 16  Generation: Gen X                                 39 non-null     float64
 17  Generation: Boomer                                39 non-null     float64
 18  Generation: Silent                                39 non-null     float64
 19  Race: Native American                             39 non-null     float64
 20  Race: Asian                                       39 non-null     float64
 21  Race: Hispanic                                    39 non-null     float64
 22  Race: Black                                       39 non-null     float64
 23  Race: White                                       39 non-null     float64
 24  Occupation Category: Office Job                   39 non-null     float64
 25  Occupation Category: Customer Facing Service Job  39 non-null     float64
 26  Occupation Category: Manual, Not Customer Facing  39 non-null     float64
 27  Occupation Category: Education/Medicine           39 non-null     float64
 28  Occupation Category: Building Trades              39 non-null     float64
dtypes: float64(27), object(2)
memory usage: 9.0+ KB

In [63]:
original_file = 'aimodelpoll.csv'
aimodelpoll.to_csv(original_file, index=False)

In [65]:
llmach.head(5)

,Field,Achievement,Result,Human result,Outperforms human avg?,Model,Testing date,Peer-\nreviewed?,Paper/\nlink,Extract
0,Music,97% of people canâ€™t tell the difference betwee...,NaN,NaN,Yes,Multiple,Nov/2025,No,ðŸ”—,"""all participants were asked to listen to thre..."
1,Transcription,Transcribing handwritten historical documents.,99.44,96,Yes,Gemini 3,Nov/2025,No,ðŸ”—,"""The new Gemini modelâ€™s performance on HTR mee..."
2,Finance,Large Language Models pass CFA Level III.,79.1,50,Yes,o4-mini,Jul/2025,Yes,ðŸ”—,"""leading models demonstrate strong capabilitie..."
3,CBRN,LLMs can can accurately guide users through th...,NaN,NaN,Yes,GPT-4o,Jun/2025,Yes,ðŸ”—,"""we find that advanced AI models Llama 3.1 405..."
4,Health reviews,LLMs outperform humans in synthesizing results...,96.7,81.7,Yes,o3-mini-high,Jun/2025,Yes,ðŸ”—,"""We developed otto-SR, an end-to-end agentic w..."

In [66]:
llmach.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Field                   53 non-null     object
 1   Achievement             55 non-null     object
 2   Result                  51 non-null     object
 3   Human result            13 non-null     object
 4   Outperforms human avg?  53 non-null     object
 5   Model                   54 non-null     object
 6   Testing date            53 non-null     object
 7   Peer-
reviewed?         53 non-null     object
 8   Paper/
link             53 non-null     object
 9   Extract                 53 non-null     object
dtypes: object(10)
memory usage: 4.6+ KB

In [67]:
for col in ['Result', 'Human result']:
    llmach[col] = (
        llmach[col]
        .astype(str)                                 
        .str.replace(r'[\s%,]', '', regex=True)      
        .str.replace(',', '.', regex=False)         
        .replace(['', 'nan', 'NaN', '-', '--'], np.nan)
        .pipe(pd.to_numeric, errors='coerce')        
    )
llmach['Result'] = llmach['Result'].round(2)
llmach['Human result'] = llmach['Human result'].round(2)

In [68]:
llmach.head(5)

,Field,Achievement,Result,Human result,Outperforms human avg?,Model,Testing date,Peer-\nreviewed?,Paper/\nlink,Extract
0,Music,97% of people canâ€™t tell the difference betwee...,NaN,NaN,Yes,Multiple,Nov/2025,No,ðŸ”—,"""all participants were asked to listen to thre..."
1,Transcription,Transcribing handwritten historical documents.,99.44,96.0,Yes,Gemini 3,Nov/2025,No,ðŸ”—,"""The new Gemini modelâ€™s performance on HTR mee..."
2,Finance,Large Language Models pass CFA Level III.,79.10,50.0,Yes,o4-mini,Jul/2025,Yes,ðŸ”—,"""leading models demonstrate strong capabilitie..."
3,CBRN,LLMs can can accurately guide users through th...,NaN,NaN,Yes,GPT-4o,Jun/2025,Yes,ðŸ”—,"""we find that advanced AI models Llama 3.1 405..."
4,Health reviews,LLMs outperform humans in synthesizing results...,96.70,81.7,Yes,o3-mini-high,Jun/2025,Yes,ðŸ”—,"""We developed otto-SR, an end-to-end agentic w..."