In [1]:
#1
#athena db config
#AAI-540 Group 3 FP

In [3]:
import boto3
import sagemaker
from pyathena import connect
import pandas as pd
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
ingest_create_athena_db_passed = False

In [4]:
database_name = "dsoaws"
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [5]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)
pd.read_sql(statement, conn)

CREATE DATABASE IF NOT EXISTS dsoaws

/tmp/ipykernel_4059/2532319348.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [6]:
statement = "SHOW DATABASES"
df_show = pd.read_sql(statement, conn)
df_show.head(5)

/tmp/ipykernel_4059/1677879827.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_show = pd.read_sql(statement, conn)

            database_name
0                 default
1                  dsoaws
2  sagemaker_featurestore

In [89]:
#set 1 - 
table_name_csv = "openllmleader.csv"

In [90]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [91]:
dataexplore = pd.read_csv('openllmleader.csv')
dataexplore.head()

,Model,Type,Class,Backend,Dtype,Optimizations,Throughput (tokens/s),Peak Memory (MB),Score (%)
0,bofenghuang/vigogne-2-7b-instruct,LLaMA,7B,pytorch,float16,BetterTransformer,39.2,14925,58.2
1,bofenghuang/vigogne-2-7b-instruct,LLaMA,7B,pytorch,float16,BetterTransformer,39.2,14925,58.2
2,HuggingFaceH4/starchat-beta,GPT-BigCode,20B,pytorch,float16,NaN,43.9,31745,55.8
3,bofenghuang/vigogne-2-7b-instruct,LLaMA,7B,pytorch,float32,NaN,36.5,27811,58.2
4,NousResearch/Nous-Hermes-Llama2-13b,LLaMA,10B,pytorch,float16,BetterTransformer,30.0,27069,62.6

In [92]:
dataexplore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Model                  370 non-null    object
 1   Type                   370 non-null    object
 2   Class                  370 non-null    object
 3   Backend                370 non-null    object
 4   Dtype                  370 non-null    object
 5   Optimizations          216 non-null    object
 6   Throughput (tokens/s)  370 non-null    float64
 7   Peak Memory (MB)       370 non-null    int64
 8   Score (%)              370 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 26.1+ KB